
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #e6f0ff;
  color: #333;
  line-height: 1.6;
}


input, button {
  font-family: inherit;
}


ul, ol {
  list-style: none;
}


html {
  scroll-behavior: smooth;
}
